/* Light Theme */
:root {
  --primary-color: #E53935; /* Tomato Red */
  --secondary-color: #FFC107; /* Cheese Yellow */
  --background-color: #FFF9C4; /* Off-White */
  --text-color: #333333; /* Dark Gray */
  --accent-color: #4CAF50; /* Basil Green */
}

/* Dark Theme */
.dark-theme {
  --primary-color: #D32F2F; /* Brick Red */
  --secondary-color: #FFA000; /* Mustard Yellow */
  --background-color: #212121; /* Charcoal */
  --text-color: #FAFAFA; /* Light Gray */
  --accent-color: #CDDC39; /* Lime */
}

body {
  background-color: var(--accent-color);
}